<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.emf.mwe2.launch.Mwe2LaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/tcgdsl&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/tcgdsl.ide&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/tcgdsl.ui&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/tcgdsl.tests&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/tcgdsl.ui.tests&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/tcgdsl.tests&quot; type=&quot;4&quot;/&gt;&#10;&lt;item path=&quot;/tcgdsl.ui.tests&quot; type=&quot;4&quot;/&gt;&#10;;&lt;/resources&gt;}"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
